/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}


/****************
* Calculator  	*
*****************/

/*
					#wrapper
*/
.cal {
	width: 315px;
	height: auto;
	background: #2F4F4F;
	border-radius: 5px;
	margin: 10px auto;
	padding: 10px;
}

.cal * {
	font: 400 16px/27px "Roboto", sans-serif;
}

.cal p {
	margin: 0;
	text-align: center;
	color: #fff176;
	font-weight: 400;
}

.cal a {
	color: inherit;
}

/*
					#screen
*/
.cal-screen {
	width: 100%;
	height: auto;
	margin: 10px 0 20px;
	background: #B0BEC5;
  border: 0.5px solid #607D8B;
}

.cal-input,
.cal-result {
	width: 100%;
  height: 40px;
  text-align: right;
	padding: 0 5px;
	letter-spacing: 3px;
}

.cal-input {
	background: inherit;
	border: none;
	text-align: right;
	outline: none;
}


/*
					#keypad
*/
.cal-keypad button {
  display: inline-block;
	width: 63px;
  height: 50px;
	margin: 5px;
	background: #fafafa;
  cursor: pointer;
	outline: 0;
}

.cal-keypad button::-moz-focus-inner {
	border: 0;
}

.cal-keypad button:active {
	border: 1px solid #000;
}

.keypad-left {
	display: inline-block;
	width: 219px;
}

.keypad-right {
	display: inline-block;
	width: 76px;
	vertical-align: top;
}

.cal-keypad .highlight {
	background: #ef5350;
	border-color: #e57373;
	color: #fafafa;
}

.keypad-right .highlight {
	background: #fff9c4;
	color: #ef5350;
	border-color: #fff176;
}

.cal-keypad button:active {
  border: 0.5px solid inset #607D8B;
}
